In [10]:
import numpy as np

In [79]:
dataset=[11,10,9,8,7,6,5,4,3,2,1,101,21,34,104,32,107,22,11,12,13,14,15,16,17]

In [83]:
outliers=[]
def outlier_detect(data):
    threshold=2
    
    mean=np.mean(data)
    std=np.std(data)
    
    for i in data:
        z_score=(i-mean)/std
        if np.abs(z_score)>threshold:
         outliers.append(i)
    return outliers

In [84]:
outliers_pt=outlier_detect(dataset)

In [85]:
outliers_pt

[101, 104, 107]

In [86]:
sorted(dataset)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 21,
 22,
 32,
 34,
 101,
 104,
 107]

In [103]:
quantile1,quantile3=np.percentile(dataset,[25,75])

In [104]:
print(quantile1,quantile3)

7.0 21.0

In [105]:
iqr_value=quantile3-quantile1
print(iqr_value)

14.0

In [110]:
low_bound=quantile1-(0.5*iqr_value)
high_bound=quantile3+(1*iqr_value)
print(low_bound,high_bound)

0.0 35.0

In [160]:
import pandas as pd
import numpy as np
df=pd.read_csv("https://gist.githubusercontent.com/tijptjik/9408623/raw/b237fa5848349a14a14e5d4107dc7897c21951f5/wine.csv"
               ,header=None,usecols=[0,1,2])
df.columns=["class","alcohol","malic"]
df.head()

  class  alcohol       malic
0  Wine  Alcohol  Malic.acid
1     1    14.23        1.71
2     1     13.2        1.78
3     1    13.16        2.36
4     1    14.37        1.95

In [161]:
from sklearn.preprocessing import MinMaxScaler

In [162]:
scaling=MinMaxScaler()

In [165]:
scaling.fit_transform(df[['Alcohol','Malic']],dtype=object)

KeyError: "None of [Index(['Alcohol', 'Malic'], dtype='object')] are in the [columns]"

In [184]:
df=pd.read_csv('train.csv',
               usecols=[5,9])
# df.columns=['age','fare']

In [185]:
df.head()

    Age     Fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [186]:
scaling.fit_transform(df[['Age','Fare']])

array([[0.27117366, 0.01415106],
       [0.4722292 , 0.13913574],
       [0.32143755, 0.01546857],
       ...,
       [       nan, 0.04577135],
       [0.32143755, 0.0585561 ],
       [0.39683338, 0.01512699]])

In [187]:
from sklearn.preprocessing import StandardScaler

In [188]:
scaling=StandardScaler()

In [189]:
scaling.fit_transform(df[['Age','Fare']])

array([[-0.53037664, -0.50244517],
       [ 0.57183099,  0.78684529],
       [-0.25482473, -0.48885426],
       ...,
       [        nan, -0.17626324],
       [-0.25482473, -0.04438104],
       [ 0.15850313, -0.49237783]])